<%= form_for @command, url: questionnaire_index_path do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= label :name, "Name" %>
          <%= f.text_field :name, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= label :questionnaire_type, "Type" %>
          <%= f.select :questionnaire_type, options_for_select(["Productivity"]), class: 'form-control'%>
        </div>

        <%= submit_tag("Create", class: "btn btn-primary", data: { disable_with: "Creating..." }) %>
      </div>
    </div>
<% end %>
