Show page<br />

<%= @question.question %>

<%= form_for @command, url: questionnaire_answer_path(questionnaire_id: @questionnaire.id) do |f| %>
    <%= f.hidden_field(:question_id) %>
    <%= f.hidden_field(:when) %>

    <% case @question.question_type.to_sym
         when :drop_down_answers %>
        <%= f.text_field(:answer, list: 'drop_down_answers') %>
        <datalist id="drop_down_answers">
          <% @question.common_answers.each do |answer| %>
          <option data-colour="<%= answer_colour(answer[1][:colour]) %>"><%= answer[0] %></option>
          <% end %>
        </datalist>
      <% when :open_answer %>
        Open answer
      <% when :scale %>
        Scale
    <% end %>

    Colour?
    <input name="scale" type="range" value="<%= @last_colour %>" min="0" max="512" />
    <div id="scale-colour" style="width: 20px; height: 20px; position:relative; background-color: red;"></div>
    <input type="hidden" name="answer[colour]">

    <%= submit_tag("Answer", class: "btn btn-primary", data: { disable_with: "Answering..." }) %>
<% end %>

<%= link_to "New Question", new_questionnaire_question_path(@questionnaire) %>

<script>
  var $scale = $("[name=scale]");
  var $scaleColour = $("#scale-colour");
  var $colour = $("[name='answer[colour]']");
  var $answer = $("#answer_answer");

  var updateColour = function(){
    var red, green;
    var val = $scale.val();

    if(val <= 256) {
      red = 256;
      green = val;
    }else{
      red = 512 - val;
      green = 256;
    }

    $scaleColour.css('background-color', "rgb(" + red + "," + green + ",0)");
    $colour.val("rgb(" + red + "," + green + ",0)");
  };

  $answer.on('input change', function(){
    var val = $(this).val();

    var $dataList = $("datalist > option").filter(function(){
      return $(this).text() == val;
    });
    $scale.val($dataList.data("colour"));
    updateColour();
  });

  $scale.on('input change', updateColour);

  updateColour();
</script>
